.data-quests {
	padding:10px 10px 10px 10px;
	
	.quest_box {
		border-radius:10px;
		border:1px solid #ace;
		background:#def;
		margin:10px 0px 0px 0px;
		padding:5px 10px;
		
		.quest_no {
			height:90px;
			line-height:100px;
			text-align:center;
			font-weight:bold;
			font-size: 24px;
		}
		
		.quest_info {
			height:90px;
			
			.quest_title {
				height:20px;
				font-size:14px;
				font-weight:bold;
			}
			.quest_description {
				height:20px;
				font-size:12px;
			}
			.quest_json {
				height:50px;
				textarea {
					height:50px;
					width:100%;
					font-family: monospace;
					border:0px none;
					font-size:12px;
					background:#ffc;
				}
			}
		}
		
	}
	
}
